# Component testing.
allure-results

# Frontend development.
.vscode
dist
node
yarn-debug.log*
yarn-error.log*
*.log

# General development.
.DS_Store
*.swp

# Java development.
**/.idea/*
!**/.idea/icon.png
!**/.idea/icon.svg
.java-version
.project
.run
.settings
target
*.iml


# Python development.
.pydevproject
__pycache__
venv
*.pyc
